/*
 * Nextflow configuration file for Funnel (TES) integration
 */

plugins {
    id 'nf-amazon'
    id 'nf-ga4gh'
}

docker {
    enabled = true
}

process {
    executor = 'tes'
    
    // Automatically upload output files back to Minio
    publishDir = [
        path: params.destinationPath,
        mode: 'copy'
    ]
}

tes {
    endpoint = 'http://funnel:8003'
}

aws {
    region = 'us-east-1'
    client {
        endpoint = 'http://minio:9000'
        s3PathStyleAccess = true
        protocol = 'http'
        signerOverride = 'AWSS3V4SignerType'
    }
    accessKey = System.getenv('MINIO_ROOT_USER') ?: 'minioadmin'
    secretKey = System.getenv('MINIO_ROOT_PASSWORD') ?: 'minioadmin'
}
